<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <add key="FileWithInputsCoordinates" value="C:\NeuralNetwork\SOM\coordinates.txt"/>
  <add key="Results" value="C:\NeuralNetwork\SOM\results.txt"/>
  <add key="Order" value="C:\NeuralNetwork\SOM\order.txt"/>
  <add key="NormalizedInputs" value="C:\NeuralNetwork\SOM\normalizedInputs.txt"/>
  <add key="Visualization" value="C:\NeuralNetwork\SOM\visualation.jpg"/>
    
  </appSettings>
</configuration>